.sidebar {
  width: 250px;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #94a3b8;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.sidebar a:hover {
  background: #1e293b;
  color: white;
}
:host {
  display: block;
  width: 250px;
  height: 100vh;
  background: #020617;
  color: white;
}